<div class="card mx-auto my-5" style="width: 60vw;">
  <%= image_tag "Reopening.jpg", alt: "guidelines", class: "card-img-top" %>
  <div class="card-body">
    <h3 class="my-4 text-center">Important Information</h3>
    <h5 class="card-title my-3">1. Why are we reopening now?</h5>
    <p class="card-text mb-3">While Exilic has never been closed, our physical doors have been. However, with cases going down and vaccines going up, we feel that we can finally meet in a safe way without the threat of a third wave. With more corporate knowledge than ever before, and with offices, stores, restaurants, and even MSG re-opening, we feel that we can finally meet in a safe way as an assembly (<em>ekklesia</em>) of believers.</p>
    <h5 class="card-title my-3">2. Can I attend worship every Sunday?</h5>
    <p class="card-text mb-3">Yes. However, if you’ve attended a Sunday on-site service the previous week, we ask that you wait until Tuesday to register for the next Sunday service. This will allow those who have not attended yet to register first. By Tuesday, as long as there are still spots available, you can register for the upcoming Sunday service.</p>
    <h5 class="card-title my-3">3. Will there still be an online worship service?</h5>
    <p class="card-text mb-3">Yes. Our on-site service will be livestreamed on Youtube and those who are not attending will be able to worship with us virtually. By attending the on-site service, attendees are entering an area where audio and video recording occur and consent to the filming and to the release, publication, exhibition, or reproduction of any and all recorded media.</p>
    <h5 class="card-title my-3">4. How can I register?</h5>
    <p class="card-text mb-3">Registration will open Sunday-Friday for the upcoming Sunday service by clicking on the link below which will take you to the registration page.</p>
    <p class="card-text text-center"><small class="text-muted btn btn-link"><a href="<%= sunday_path %>">Sunday Service</a></small> | <small class="text-muted btn btn-link"><a href="<%= events_path %>">Register</a></small></p>
  </div>
</div>