<div class="contatiner mx-auto" style="width: 80vw;">

  <%= image_tag "on-site-worship-guidelines.png", alt: "reopening", class: "rounded mx-auto d-block mt-4", style: "width: 60vw;", id: "top" %>

  <h1 class="text-center m-4">WELCOME EXILIC FAMILY!</h1>
  <p>We have been awaiting this day for a long time (a year to be exact)!</p>
  <p><span class="fw-bold">Pre-registration is required and our seating is limited to 50 attendees per service.</span> By completing your registration to attend, you are agreeing to follow all guidelines for COVID-19 safety as outlined below when you check-in for our service.</p>

  <h3 class="mt-4">REGISTRATION</h3>
  <p>Families who live in the same household should register together and sit together. Please register ALL household members who will be attending. Register persons not living in the same household separately. Please cancel your registration if your plans change and you can no longer attend.</p>
  <p>We are unable to offer Exilic Kids or childcare at this time. </p>

  <h3 class="mt-4">BEFORE YOU ARRIVE</h3>
  <p>Please remember to bring a mask and confirm that your temperature is below 100.4F. Check-in will begin 30 minutes prior to the service in the foyer. Please plan on 10 minutes to check-in according to our new safety protocols.</p>

  <h3 class="mt-4">WHAT TO EXPECT WHEN YOU ARRIVE</h3>
  <p>Please use our private entrance to the Stewart Hotel located on 31st Street. There is an elevator for stroller or wheelchair access from our entrance. Elevators are limited to four (4) people at a time, or one household if more than four (4) individuals.</p>

  <h4>Check-in Station</h4>
  <p>Going up the stairs from the 31st St. entrance will take you to our check-in station.</p>
  <ol>
    <li>Your temperature will be taken via a non-touch thermometer before entering.</li>
    <li>One of our volunteers will confirm that you are registered using their own mobile device.</li>
    <li>
      You will need to agree to the following health screening statements:
      <ul>
        <li>I am currently not experiencing any of these symptoms in the last 48 hours: fever, chills or sweats, cough, shortness of breath or difficulty breathing, fatigue, muscle or body aches, headache, new loss of taste or smell, sore throat, congestion or runny nose, nausea or vomiting, and/or diarrhea.</li>
        <li>I have not had any close contact in the last 14 days with someone with a current diagnosis of COVID-19.</li>
        <li>I have not had a positive COVID-19 diagnostic test in the past 14 days.</li>
      </ul>
    </li>
  </ol>

  <h4>Protocols</h4>
  <p>We kindly require that all attendees adhere to these protocols:</p>
  <ul>
    <li>All persons age 2+ must wear a mask/face covering that covers the nose and mouth inside at all times (except during communion and pastors who will remove their masks when speaking).</li>
    <li>Observe physical distancing of six (6) feet between you and non-household individuals.</li>
    <li>There will be no singing in the worship service at this time due to state distancing guidelines.</li>
    <li>You will be escorted to seats in the sanctuary by an usher.</li>
  </ul>
  <p>Questions or concerns? Contact <a href = "mailto: jinook929@gmail.com" class="fw-bold">onsite@exilic.com</a></p>

</div>

<div class="d-grid gap-2 col-6 mx-auto my-4 text-center">
  <a href="#top"><button class="btn btn-outline-info" type="button">Back to Top</button></a>
</div>