<%= image_tag "stewart_hotel.jpg", alt: "hotel", class: "img-fluid", width: "100%vw%" %>

<div class="container text-center mb-5">
  <h1 class="my-5">SUNDAY SERVICE at 10:30am</h1>

  <h3 class="mb-4"><a href="https://www.youtube.com/channel/UCyelJHPMuHQdHbAdPudPwvg" target="_blank">CLICK HERE</a> for our YouTube Channel</h3>

  <p class="lead">Out of an abundance of caution, we will not meet in person for worship until the Easter Sunday, and will continue to stream our services and bulletins online. We encourage you to worship from home and to fully participate as a worshipper of God whether you are at church or at home. You can also search for “<a href="https://www.google.com/search?q=Exilic+Church" target="_blank">Exilic Church</a>” to find our page.</p>
</div>

<div class="container text-center">
  <h3 class="text-decoration-underline mb-3">Location</h3>
  <p class="my-1">STEWART HOTEL (31st St. Entrance)</p>
  <p class="my-1 fst-italic">Fitzgerald Ballroom</p>
  <p class="my-1">371 7th Ave. </p>
  <p class="my-1">New York, NY 10001</p>
  <p class="mt-3 mb-4">
    <a href="https://www.google.com/maps/place/Exilic+Church/@40.7488743,-73.9921096,16.75z/data=!4m5!3m4!1s0x0:0x96283a8de9a93f6!8m2!3d40.748809!4d-73.9919808" target="_blank">
      <%= image_tag "map.png", alt: "map", width: "100%" %>
    </a>
  </p>
</div>